
@{
    ViewBag.Title = "Index";
}
@model  Net1.Models.MessageModel
<h2>Index</h2>
<h2> Hello Manh Moc </h2>
<h1> Why</h1>
 <h1>@ViewBag.WelComeString </h1>
<h1> @Model.Welcome</h1>
<p>
    @Html.TextBox("idtxt")
    @Html.Label("ManhMoc")
    
    
</p>

